rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
  function signedIn(){return request.auth!=null;}
  function email(){return request.auth.token.email;}
  function owner(){return signedIn() && (email()=='vsshegur@gmail.com' || (exists(/databases/$(database)/documents/access_emails/$(email())) && get(/databases/$(database)/documents/access_emails/$(email())).data.role=='owner' && get(/databases/$(database)/documents/access_emails/$(email())).data.active==true));}
  function staff(){return signedIn() && exists(/databases/$(database)/documents/access_emails/$(email())) && get(/databases/$(database)/documents/access_emails/$(email())).data.active==true;}
  match /access_emails/{id}{allow read:if owner()|| (signedIn()&&id==email());allow write:if owner();}
  match /workers/{id}{allow read:if staff()||owner();allow create,update:if owner()||staff();allow delete:if owner();}
  match /goods_receipts/{id}{allow read,create:if owner()||staff();allow update:if owner()||staff();allow delete:if owner();}
  match /batches/{id}{allow read,create,update:if owner()||staff();allow delete:if owner();}
  match /attendance/{id}{allow read,create,update:if owner()||staff();allow delete:if owner();}
  match /audit_logs/{id}{allow read:if owner();allow create:if staff()||owner();allow update,delete:if false;}
  match /{document=**}{allow read,write:if false;}
 }
}
